.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 25%;
  height: 100%;
  box-sizing: content-box;
}

.clock {
  margin-top: 30%;

  box-sizing: border-box;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  position: absolute;
  content: "";

  width: 25%;
  height: 30%;

  border: white 5px solid;
  border-radius: 25px;
  background-color: white;
  opacity: 0.1;
  filter: blur(5px);
}
