@import "reset.css";
@import "navigation.css";
@import "main.css";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  background-image: url("../img/NatureWallPaper2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
