.shortcut {
  margin-top: 4%;
  /* 위에 시계랑 거리 벌려두는 용도 */

  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.addShortcut {
  border: 1px solid snow;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#addShortcutIcon {
  width: 100%;
  height: 100%;
}
