.shortcutBox {
  margin-top: 6%;
  /* 위에 시계랑 거리 벌려두는 용도 */

  box-sizing: border-box;
  height: 20%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.shortcut {
}
